body  {
	margin:0px;
	FONT-SIZE: 12px;
	text-decoration: none;
	SCROLLBAR-FACE-COLOR: #EBE9ED;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #39867B;
	SCROLLBAR-3DLIGHT-COLOR: #39867B;
	SCROLLBAR-ARROW-COLOR: #FFFFFF;
	SCROLLBAR-TRACK-COLOR: #EBE9ED;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	background-color: #3867B2;
}
form {margin:0px;padding:0px;}
ul {margin-left:0px;}
h3 {font-size:14px;height:24px;line-height:24px;margin:0;}
.pageMain{
	float:right;
}
.pageTitle{
	background:url(../images/main-02.gif);
	height:29px;
	height:29px !important;
	color:#ffffff;
	font-weight:bold;
	line-height:29px;
	color:#000;
}
.pageTitle_left {
	background:url(../images/main-01.gif) no-repeat;
	width:15px;
	height:29px;
	float:left;
}
.pageTitle1 {
	height:30px;
	height:22px !important;
	color:#FFFFFF;
	background: #60B7DE;
	font-weight:bold;
	padding-left:8px;
	padding-top:8px;
}
.pageContent{
	margin:auto;
	height:auto;
	background: none repeat scroll 0 0 #EEF7FD;
}
.indexpageContent{
	margin:auto;
	height:auto;
}
table  { 
	border:1px solid #B3CDE8;
	background:none repeat scroll 0 0 #EEF7FD;
	border-collapse:collapse;
}
th {
	height:30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	letter-spacing: 1pt;
	line-height:14pt;
	padding:2px;
	border:1px solid #B3CDE8;
	background: none repeat scroll 0 0 #FFFFFF;
    color: #003373;
    font-weight: bold;
}
td {
	height:30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	letter-spacing: 1pt;
	line-height:14pt;
	padding:2px;
	border:1px solid #B3CDE8;
}
.td_hignlight {background: none repeat scroll 0 0 #FFFFFF; }
tr:hover,.odd:hover,.hover {
    background: #FFFFFF;
}
.green {
	color:#336699;
}
.red {
	color:#FF0000;
}
img  {
	vertical-align:middle;
	border:0px;
	margin: 0px;
	padding: 0px;
	clear: 0;
}
a  { color:#000000; text-decoration:none; }
a:visited  { color:#CC0000;text-decoration:none; }
a:hover  { color:#cc0000;text-decoration:underline; }
.sec_menu  { border-left:1px solid white; border-right:1px solid white; border-bottom:1px solid white; overflow:hidden; background:#C6EBDE; width:500;}
.menu_title  { }
.menu_title span  { position:relative; top:2px; left:8px; color:#39867B; font-weight:bold; }
.menu_title2  { }
.menu_title2 span  { position:relative; top:2px; left:8px; color:#cc0000; font-weight:bold; }

#top {
	clear: both;
	width:100%;
	background-color:#FFFFFF;
	height:90px;
	background:url(../images/head-01.gif) repeat-x;
}
#topbar {
	clear: both;
	width:100%;
	background-color:#1C5BB2;
	height:20px;
	border-bottom:1px solid #FFFFFF;
	color: #FFFFFF;
}
#banner {width:400px;float: left;height:90px; }
#banner .logo {font-size:30px;font-family:'黑体';padding-left:10px;margin-top:30px;float:left;color:#FFFFFF;}
#banner_menu {width:500px;float: right; }
.login_status {text-align:right;padding-top:10px;padding-right:70px;height:30px;font-size:16px;color: #FFFFFF;}
#top ul {	
	list-style: none;padding: 0;margin:0;
	height:50px;
}
#top li {	
	list-style: none;
	width:100px;
	text-align:center;
	padding: 0;
	font-size: 16px;
	float:left;
	margin:0 10px;
}
#top a {color: #FFFFFF; font-weight: bold; font-size: 16px;}
#top a:visited {color: #FFFFFF; font-weight: bold; font-size: 16px; }
#top a:hover {color: #FFFFFF; font-weight: bold; font-size: 16px;}

#navbar {
	background:url(../images/left-02.gif) repeat-y;
	width: 192px;
	margin-top:0px;
	margin-right:8px;
	font-size: 0.9em;
	float:left;
}
#navbar .lefttitle{
	height:32px;
	background:url(../images/left-01.gif) no-repeat;
	width: 192px;
}
#navbar .leftmenu{
width:100%;
padding-bottom:30px;
}
#navbar ul.menubar {	
	list-style: none;
	width: 100%;
	margin: 0 0 1px 0;
	padding: 0;
	font-size: 12px;
}	
#navbar ul.menubar li {
	margin-bottom:2px;
	padding-left:40px;
	line-height:43px;
	height: 43px;
	_padding-top:13px;
	_line-height:30px;
	_height: 30px;
	width:192px;
	_width:162px;
	background:url(../images/menu-01.gif) no-repeat;
}
#navbar ul.menubar a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}
#navbar ul.menubar a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
#navbar ul.menubar li.active {
	background:url(../images/menu-02.gif) no-repeat;
}
#navbar ul.menubar li.active a {
	color: #000;
}
.button {
  width: 80px;
  color:#FFFFFF;
  padding: 5px;
  border: 1px #ffffff;
  border-bottom:#cccccc;
  font-weight:bold;
  text-align:center;
  background-color:#1591C1;
  cursor:pointer;
}
.hover{
  cursor: pointer;
  background: #ffc;
}
#footer {width:100%; text-align:center; font-size:12px; color:#FFFFFF;float:left;border-top:1px solid #CCCCCC; padding-top:5px;}

.pagenum {margin-left:5px;margin-right:5px;}
.pagefirst {margin-left:5px;margin-right:5px;}
.pagelast {margin-left:5px;margin-right:5px;}
.pagenext {margin-left:5px;margin-right:5px;}
.pageprev {margin-left:5px;margin-right:5px;}

/*page*/
.page { margin: 10px 0 0; padding: 3px; text-align: center; }
.page * { margin: 0 0 0 6px; padding: 5px 8px; border: 1px solid #EBE6C9; background: #F1F1F1; color: #000000;}
.page em { border-color: #FEE4AB; color: #C30; font-style: normal; }
.page b { background: #FFFFFF; color: #C30; font-weight:bold;}
.page strong { background: #FFFFFF; color: #C30; font-weight:bold;}
.page a { color: #000000; text-decoration:none;}
.page a:hover { text-decoration: none;background:#FFFFFF;color:#CC3300; }

/*ѡ�񵯳�����ʽ2011-08-03 by linken*/
.layer_global {
background:#E1E1E1;
font-family:Geneva,Arial,Helvetica,sans-serif;
padding:5px;
text-align:left;
z-index:50;
position:fixed;_position:absolute;
}
.layer_global .layer_global_main {
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #A7A6A6;
color:#3F3F3F;
overflow:hidden;
word-wrap:break-word;
}
.layer_global .layer_global_main .layer_global_title {
background:#F1F1F1 none repeat scroll 0 0;
border-bottom:1px solid #DEDEDE;
cursor:move;
height:28px !important;
line-height:28px !important;
width:100%;
}
.layer_global .layer_global_main .layer_global_title h3 {
float:left;
font-size:14px;
height:28px !important;
line-height:28px !important;
margin-left:10px;
text-indent:0 !important;
padding:0;
margin-top:0;
}
.layer_global .layer_global_main .layer_global_title button {
background:transparent url(../images/pop_close.png) no-repeat scroll 0 0;
float:right;
height:17px;
margin:5px 5px 0 0;
width:17px;
}
.layer_global button {
background-color:transparent;
cursor:pointer;
font-size:12px;
border:medium none;
margin:0;
padding:0;
}
.layer_global .layer_global_main .layer_global_content {
margin:0;
}
.float_box .float_box_body {
margin:10px 0 0 15px;
padding-bottom:20px;
}
.layer_global .area_select {
border-bottom:1px solid #E0E4E9;
padding:0 0 10px;
text-align:left;
}
.layer_global .float_box_body {
	margin:10px 10px 10px 15px;
}
.layer_global .layer_global_footer {
background:#F1F1F1;
border-top:1px solid #E9E9E9;
height:30px;
line-height:30px;
margin-top:0;
width:100%;
}
/* end */
.index_block {float:left;width:49%;margin:3px;}
.index_ul {background: #FFFFFF;padding:0px;margin:0px;list-style:none;height:250px;}
.index_ul li {height:30px;line-height:30px;padding-left:10px; border-bottom: 1px solid #B3CDE8;}